<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Type Submit</title>
</head>
<body>


{{if .}}
<main>
    <p><strong>{{.}}</strong></p>
</main>
{{end}}




</body>
</html>